<h4>The Dialog (imperative)</h4>

These dialogs are created by the <i>MdlDialogService</i>.

<h5>Alert</h5>

<button
        mdl-button
        mdl-button-type="raised"
        mdl-colored="accent"
        mdl-ripple
        (click)="showAlert()">Show Alert</button>

<h5>Confirm</h5>
<button
  mdl-button
  mdl-button-type="raised"
  mdl-colored="primary"
  mdl-ripple
  (click)="showConfirmMessage()">Show Confirm Message</button>


<h5>Dialog with choises</h5>
<button
        mdl-button
        mdl-button-type="raised"
        mdl-colored="primary"
        mdl-ripple
        (click)="showDialogFullWidthAction($event)">Show Dialog with full width actions</button>


<h5>A custom  login dialog</h5>
<button
        mdl-button
        mdl-button-type="raised"
        mdl-colored="primary"
        mdl-ripple
        (click)="showDialog($event)">Show Login Dialog</button>