<form [formGroup]="form">

  <h3 class="mdl-dialog__title">Add Task</h3>

  <div class="mdl-dialog__content">
    <mdl-textfield
            label="Product ID"
            name="productId"
            type="number"
            formControlName="productId"
            floating-label
            pattern="[1-9]+[0-9]*"></mdl-textfield>
    <mdl-textfield
            label="Product Name"
            name="productName"
            type="text"
            formControlName="productName"
            floating-label></mdl-textfield>
    <mdl-textfield
            label="Publisher Name"
            name="publisherName"
            type="text"
            formControlName="publisherName"
            floating-label></mdl-textfield>
    <mdl-textfield
            label="Licence Cost (in US dollars $)"
            name="licenceCost"
            type="number"
            formControlName="licenceCost"
            floating-label></mdl-textfield>
  </div>

  <div class="status-bar">
    <p class="mdl-color-text--primary">{{statusMessage}}</p>
    <mdl-spinner [active]="processingLogin"></mdl-spinner>
  </div>

  <div class="mdl-dialog__actions">
    <button 
      type="button"
      mdl-button (click)="onSubmit()"
      [disabled]="!form.valid || processingLogin"
      mdl-button-type="raised" 
      mdl-ripple mdl-colored="primary">Submit</button>
  </div>
</form>