<!-- Two Line List with secondary info and action -->
<style>
  .demo-list-two {
    width: 300px;
  }
</style>

<h3 class="mdl-dialog__title">{{ software.softwareName }}</h3>
<div >
  <ul class="demo-list-two mdl-list">
    <li class="mdl-list__item mdl-list__item--two-line">
      <span class="mdl-list__item-primary-content">
        <i class="material-icons mdl-list__item-avatar">person</i>
        <span>Product ID</span>
        <span class="mdl-list__item-sub-title"> {{ software.softwareId }} </span>
      </span>
    </li>

    <li class="mdl-list__item mdl-list__item--two-line">
      <span class="mdl-list__item-primary-content">
        <i class="material-icons mdl-list__item-avatar">person</i>
        <span>Publisher Name</span>
        <span class="mdl-list__item-sub-title">{{ software.publisherName }}</span>
      </span>
    </li>

    <li class="mdl-list__item mdl-list__item--two-line">
      <span class="mdl-list__item-primary-content">
        <i class="material-icons mdl-list__item-avatar">person</i>
        <span>Licence Cost</span>
        <span class="mdl-list__item-sub-title">{{ software.licenceCost }}</span>
      </span>

    </li>
  </ul>

  <div class="actions" *ngIf="!(toggleAddPrice || togglePurchaseSoft)">
    <button *ngIf = "userService.isBasicAdmin()"
      type="button"
      mdl-button (click)="toggleAddPrice = true"
      [disabled]=false
      mdl-button-type="raised" 
      mdl-ripple mdl-colored="primary">Edit Price</button>
    
    <button *ngIf = "userService.isBasicAdmin()"
      type="button"
      mdl-button (click)="onDelete(software)"
      [disabled]=false
      mdl-button-type="raised" 
      mdl-ripple mdl-colored="primary">Delete</button>

    <button *ngIf = "user.permission == 'Unit'"
      type="button"
      mdl-button (click)="togglePurchaseSoft = true"
      [disabled]=false
      mdl-button-type="raised" 
      mdl-ripple mdl-colored="primary">Purchase</button>
  </div>
  
  <div class="toggle-view-div" *ngIf = "toggleAddPrice">
    <mdl-textfield
            label="Year"
            name="year"
            type="number"
            [(ngModel)]="newPriceForYear.year"
            floating-label></mdl-textfield>

    <mdl-textfield
            label="Licence Cost"
            name="price"
            type="number"
            [(ngModel)]="newPriceForYear.price"
            floating-label
            pattern="[1-9]+[0-9]*"></mdl-textfield>

    <button *ngIf = "userService.isBasicAdmin()"
      type="button"
      mdl-button (click)="updateYearPrice()"
      [disabled]=false
      mdl-button-type="raised" 
      mdl-ripple mdl-colored="primary">Submit</button>
  </div>

  <div class="purchase-soft-div" *ngIf = "togglePurchaseSoft">
    <mdl-textfield
            label="Number of Units"
            name="units number"
            type="number"
            [(ngModel)]="newPurchase.amount"
            floating-label
            pattern="[1-9]+[0-9]*"></mdl-textfield>

    <mdl-textfield
            label="Year"
            name="year"
            type="number"
            [(ngModel)]="newPurchase.year"
            floating-label
            pattern="[1-9]+[0-9]*"></mdl-textfield>
            
    <button *ngIf = "user.permission == 'Unit'"
      type="button"
      mdl-button (click)="purchaseSoftware(software)"
      [disabled] = "!(newPurchase.year && newPurchase.amount)"
      mdl-button-type="raised" 
      mdl-ripple mdl-colored="primary">Purchase</button>
  </div>

</div>