<!-- <mdl-table mdl-shadow="2" [table-model]="tableModel"></mdl-table> -->

<div id='software-div'>
  <mdl-textfield id="software-search" type="text" label="Search..." [(ngModel)]="searchInput" floating-label></mdl-textfield>

  <table *ngIf="softwareDataService.softwares" class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp" id="software-table">
    <thead>
      <tr>
        <th class="mdl-data-table__cell--non-numeric">Product ID
        <button (click)="orderDesc['softwareId'] = !orderDesc['softwareId'] ; OrderByParam='softwareId'" 
            class="mdl-button mdl-button--icon">
            <mdl-icon *ngIf = "orderDesc['softwareId']">keyboard_arrow_down</mdl-icon>
            <mdl-icon *ngIf = "!orderDesc['softwareId']">keyboard_arrow_up</mdl-icon>
          </button></th>

        <th class="mdl-data-table__cell--non-numeric"> <span> Software Name </span>
          <button (click)="orderDesc['softwareName'] = !orderDesc['softwareName'] ; OrderByParam='softwareName'" 
            class="mdl-button mdl-button--icon">
            <mdl-icon *ngIf = "orderDesc['softwareName']">keyboard_arrow_down</mdl-icon>
            <mdl-icon *ngIf = "!orderDesc['softwareName']">keyboard_arrow_up</mdl-icon>
          </button></th>

        <th class="mdl-data-table__cell--non-numeric">Publisher Name
        <button (click)="orderDesc['publisherName'] = !orderDesc['publisherName'] ; OrderByParam='publisherName'" 
            class="mdl-button mdl-button--icon">
            <mdl-icon *ngIf = "orderDesc['publisherName']">keyboard_arrow_down</mdl-icon>
            <mdl-icon *ngIf = "!orderDesc['publisherName']">keyboard_arrow_up</mdl-icon>
          </button></th>

        <th class="mdl-data-table__cell--non-numeric">Licence Cost
        <button (click)="orderDesc['licenceCost'] = !orderDesc['licenceCost'] ; OrderByParam='licenceCost'" 
            class="mdl-button mdl-button--icon">
            <mdl-icon *ngIf = "orderDesc['licenceCost']">keyboard_arrow_down</mdl-icon>
            <mdl-icon *ngIf = "!orderDesc['licenceCost']">keyboard_arrow_up</mdl-icon>
          </button></th>
          
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor = "let software of softwareDataService.softwares | orderBy:getOrder()">
        <tr *ngIf="validOnSearch(software)"
        (click)='showSoftwareInfo(software)'>
            <td class="mdl-data-table__cell--non-numeric" > {{ software.softwareId }} </td>
            <td class="mdl-data-table__cell--non-numeric" > {{ software.softwareName }} </td>
            <td class="mdl-data-table__cell--non-numeric" > {{ software.publisherName }} </td>
            <td> {{ getSoftwarePriceByYear(software, currentYear) }}$ </td>
        </tr>
      </ng-container>
    </tbody>
  </table>

  <!-- <dialog-demo (newSoftware)='onCreateNewSoftware($event)'></dialog-demo> -->
  <button class = add-button
    *ngIf="user.permission  == 'Manager' || user.permission  == 'Admin'"
    mdl-button 
    mdl-button-type="fab" 
    mdl-colored="primary" 
    mdl-ripple
    (click)="showDialog($event)"><mdl-icon>add</mdl-icon></button>
</div>