<div id='units-div' class="tab-view">
	<mdl-textfield id="unit-search" type="text" label="Search..." [(ngModel)]="searchInput" floating-label></mdl-textfield>
	<mdl-list *ngIf="unitService.units">
		<template 
		ngFor let-unit [ngForOf]="unitService.units" 
		let i = index>
		    <mdl-list-item lines="2">
		      <mdl-list-item-primary-content>
		        <mdl-icon mdl-list-item-avatar>person</mdl-icon>
		        <span>{{ unit.subUnit }}</span>
		        <mdl-list-item-sub-title> {{ unit.unitId }} </mdl-list-item-sub-title>
		      </mdl-list-item-primary-content>
		      <mdl-list-item-secondary-content>
		   		<button (click)="deleteUnit(unit)" mdl-button mdl-colored="primary" mdl-ripple>
		   		    Delete
		   		 </button>
		      </mdl-list-item-secondary-content>
		    </mdl-list-item>
	    </template>
  </mdl-list>
 
  <mdl-card mdl-shadow="2" class="quick-add">
	<mdl-card-title>
      <h2 mdl-card-title-text>New Unit</h2>
    </mdl-card-title>
   	<mdl-textfield
        type="text"
        label="Unit"
        floating-label
        [(ngModel)]="unitId"></mdl-textfield>

    <mdl-textfield
        type="text"
        label="Sub Unit"
        floating-label
        [(ngModel)]="subUnit"></mdl-textfield>
	<br>
	<button (click)="tempAddUnit()" mdl-button mdl-button-type="fab" mdl-colored="primary" mdl-ripple>
	    <mdl-icon>add</mdl-icon>
	</button>

   </mdl-card> 

   
   
</div>