<div id='users-div' class="tab-view">
	<mdl-textfield id="user-search" type="text" label="Search..." [(ngModel)]="searchInput" floating-label></mdl-textfield>
	<mdl-list *ngIf="userService.users">
		<ng-container *ngFor = "let user of userService.users">
		    <mdl-list-item lines="2">
		      <mdl-list-item-primary-content>
		        <mdl-icon mdl-list-item-avatar>person</mdl-icon>
		        <span>{{ user.name }}</span>
		        <mdl-list-item-sub-title> {{ user.id }} </mdl-list-item-sub-title>
		      </mdl-list-item-primary-content>
		      <mdl-list-item-secondary-content>
			   	<md-select placeholder="Choose unit" [(ngModel)]="user.unitId" name="unit">
			   	  <md-option *ngFor="let unit of unitService.units" [value]="unit._id">
			   	    {{unit.unitId}}
			   	  </md-option>
			   	</md-select>
			   	<p>{{user.unitId}}</p>
		      </mdl-list-item-secondary-content>
		    </mdl-list-item>
	    </ng-container>
  </mdl-list>   
  

   
</div>