<div id='purchases-div' class="tab-view">
	<!-- <mdl-textfield id="purchase-search" type="text" label="Search..." [(ngModel)]="searchInput" floating-label></mdl-textfield> -->
	<button id = "advanced-search-button"
		class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored" 
		mdl-ripple
		(click)="toggleAdvSrc()"> <mdl-icon>zoom_in</mdl-icon> 
	</button>
	<mdl-textfield id="purchase-search" type="text" label="Search..." 
		*ngIf="!advancedSearch"
		[formControl]="searchControl" [(ngModel)]="searchInput" 
		[disabled]="advancedSearch"
	floating-label></mdl-textfield>
	
	<div class="demo-card-square mdl-card mdl-shadow--2dp" id=price-card>
		<h3 style="float: right" id="price-tag">{{mish(purchases)}}$</h3>
	</div>

	<div class="advanced-search" *ngIf="advancedSearch">
		<mdl-textfield *ngIf = "userService.isBasicAdmin()"
		 id="filter-by-unit" type="text" label="Unit" [(ngModel)]="filterUnitInput" floating-label></mdl-textfield>
		<mdl-textfield id="filter-by-year" type="text" label="Year" [(ngModel)]="filterYearInput" floating-label></mdl-textfield>
		<button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored"
		(click)="filterAdv()">
			<mdl-icon>filter_list</mdl-icon>
		</button>
	</div>

	<table id="purchases-table" *ngIf="purchaseService.purchases" class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
	  <thead>
	    <tr>
	      <th class="mdl-data-table__cell--non-numeric"> 
<!-- 	      <button (click)="toggleOrder['softId'] = !toggleOrder['softId']; OrderByParam='software.softwareName'" 
		      class="mdl-button mdl-button--icon">
		      <mdl-icon *ngIf = "toggleOrder['softId']">keyboard_arrow_down</mdl-icon>
		      <mdl-icon *ngIf = "!toggleOrder['softId']">keyboard_arrow_up</mdl-icon>
	      </button>Software</th> -->
	      <th class="mdl-data-table__cell--non-numeric">Unit ID</th>
	      <th class="mdl-data-table__cell--non-numeric">Sub Unit</th>
	      <th> Current Price	</th>
	      <th> Total Amount		</th>
	      <th> Total Cost		</th>
	      <th> <button (click)="toggleOrder['lastUpdated'] = !toggleOrder['lastUpdated'] ; OrderByParam='lastUpdated'" 
		      class="mdl-button mdl-button--icon">
		      <mdl-icon *ngIf = "toggleOrder['lastUpdated']">keyboard_arrow_down</mdl-icon>
		      <mdl-icon *ngIf = "!toggleOrder['lastUpdated']">keyboard_arrow_up</mdl-icon>
	      </button>	Updated </th>
	    </tr>
	  </thead>
	  <tbody>	    
	      <tr *ngFor = "let purchase of purchaseService.purchases | orderBy: getOrder()"
	      (click)='showPurchaseInfo(purchase)'>
	          <td class="mdl-data-table__cell--non-numeric" > {{ purchase.software.softwareName }} </td>
	          <td class="mdl-data-table__cell--non-numeric" > {{ purchase.unit.unitId }} </td>
	          <td class="mdl-data-table__cell--non-numeric" > {{ purchase.unit.subUnit }} </td>
	          <td > {{ getSoftwareCurrentPrice(purchase.software) }}$ </td>
	          <td> {{ calcTotalAmount(purchase, yearRange.from, yearRange.to) }} Units </td>
	          <td> {{ misha(purchase._id) }}$ </td>
	          <td> {{ purchase.lastUpdated | date:'dd/MM/yy' }} </td>
	          <!-- <td> {{ calcTotalAmount(purchase) }} Units </td> -->
	      </tr>
	  </tbody>
	</table>
</div>

<!-- 
*ngIf="validOnSearch(purchase)"
 -->

<!-- 

<template 
	    *ngFor="let purchase of purchaseService.purchases">
	      <tr 
	      *ngIf="validOnSearch(purchase)"
	      (click)='showPurchaseInfo($event,purchase)'>

 -->