<div id='purchases-div' class="tab-view">
	<mdl-textfield id="purchase-search" type="text" label="Search..." [(ngModel)]="searchInput" floating-label></mdl-textfield>

	<table id="purchases-table" *ngIf="purchaseService.purchases" class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
	  <thead>
	    <tr>
	      <th class="mdl-data-table__cell--non-numeric">Software</th>
	      <th class="mdl-data-table__cell--non-numeric">Unit ID</th>
	      <th class="mdl-data-table__cell--non-numeric">Sub Unit</th>
	      <th class="mdl-data-table__cell--non-numeric">Total Amount</th>
	    </tr>
	  </thead>
	  <tbody>
	    <template 
	    ngFor let-purchase [ngForOf]="purchaseService.purchases" 
	    let i = index>
	      <tr 
	      *ngIf="validOnSearch(purchase)"
	      (click)='showPurchaseInfo($event,i,purchase)'>
	          <td class="mdl-data-table__cell--non-numeric" > {{ purchase.software.softwareName }} </td>
	          <td class="mdl-data-table__cell--non-numeric" > {{ purchase.unit.unitId }} </td>
	          <td class="mdl-data-table__cell--non-numeric" > {{ purchase.unit.subUnit }} </td>
	          <td> {{ calcTotalAmount(purchase) }} Units </td>
	          <!-- <td> {{ calcTotalAmount(purchase) }} Units </td> -->
	      </tr>
	    </template>
	  </tbody>
	</table>
	


	<!-- Temp -->
	<button (click)="tempAddPurchase()" mdl-button mdl-button-type="fab" mdl-colored="primary" mdl-ripple>
	    <mdl-icon>add</mdl-icon>
	 </button>
</div>