<!-- Two Line List with secondary info and action -->
<style>
.demo-list-two {
  width: 300px;
}
</style>

<h3 class="mdl-dialog__title">{{purchase.software.softwareName}} Info</h3>
<div >
  <ul class="demo-list-two mdl-list" style=" width: 100%">
    
    <div class = two-rows-view>
      <li class="mdl-list__item mdl-list__item--two-line">
        <span class="mdl-list__item-primary-content">
          <span>Software ID</span>
          <span class="mdl-list__item-sub-title"> {{ purchase.software.softwareId }} </span>
        </span>
      </li>
      <li class="mdl-list__item mdl-list__item--two-line">
        <span class="mdl-list__item-primary-content">
          <span>Software Publisher</span>
          <span class="mdl-list__item-sub-title"> {{ purchase.software.publisherName }} </span>
        </span>
      </li>
      <li class="mdl-list__item mdl-list__item--two-line" *ngIf = "user.permisson != 'Unit'">
        <span class="mdl-list__item-primary-content">
          <span>Unit ID</span>
          <span class="mdl-list__item-sub-title">{{ purchase.unit.unitId }}</span>
        </span>
      </li>
    </div>

    <div class = two-rows-view>
      <li class="mdl-list__item mdl-list__item--two-line">
        <span class="mdl-list__item-primary-content">
          <span>Software Name</span>
          <span class="mdl-list__item-sub-title"> {{ purchase.software.softwareName }} </span>
        </span>
      </li>
      <li class="mdl-list__item mdl-list__item--two-line">
        <span class="mdl-list__item-primary-content">
          <span>One Licence Cost</span>
          <span class="mdl-list__item-sub-title"> {{ purchase.software.licenceCost }}$ </span>
        </span>
      </li>
      <li class="mdl-list__item mdl-list__item--two-line" *ngIf = "user.permisson != 'Unit'">
        <span class="mdl-list__item-primary-content">
          <span>Sub Unit</span>
          <span class="mdl-list__item-sub-title">{{ purchase.unit.subUnit }}</span>
        </span>
      </li>
    </div>

    <li class="mdl-list__item mdl-list__item--two-line">
      <span *ngIf="!showYears" class="mdl-list__item-primary-content ">
        <span>Total number of units: </span>
        <span class="mdl-list__item-sub-title">{{calcPurchaseTotalAmount(purchase)}}</span>
      </span>
      <span *ngIf="showYears" class="mdl-list__item-primary-content ">
        <span>Number of units: </span>
      </span>
      <span class="mdl-list-item-secondary-content">
        <button *ngIf="!showYears" class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored"
          (click)="showYears = !showYears"
        > <mdl-icon>keyboard_arrow_down</mdl-icon> 
        </button>
        <button *ngIf="showYears" class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored"
          (click)="showYears = !showYears"
        > <mdl-icon>keyboard_arrow_up</mdl-icon>
        </button>
      </span>
    </li>
    <ul *ngIf="showYears" class="demo-list-two mdl-list" class="openning-list">
      <li *ngFor='let amountForYear of purchase.amounts' class="mdl-list__item mdl-list__item--two-line">
        <span class="mdl-list__item-primary-content">
          <span>Amount for {{ amountForYear.year }}</span>
          <span class="mdl-list__item-sub-title">{{ amountForYear.amount }}</span>
        </span>
      </li>
      <li>
        <button 
          type="button"
          mdl-button (click)="toggleAddYear()"
          mdl-ripple mdl-colored="primary"
          *ngIf = "!enableAddYear"
          >Add Year</button>
      </li>
    </ul>
    
  </ul>
  <div *ngIf = "enableAddYear" id="add-year-form" class="mdl-list__item-primary-content" style="padding: 16px;">

    

    <span class="mdl-list__item-primary-content">
      <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored close-btn" 
        mdl-ripple (click)="enableAddYear = false">
          <mdl-icon>close</mdl-icon>
        </button>
      <span>Add Year</span>
    </span>
    
    <mdl-textfield
            label="Year"
            name="year"
            type="number"
            [(ngModel)]="newYear"
            floating-label></mdl-textfield>
    <mdl-textfield
            label="Amount"
            name="amount"
            type="number"
            [(ngModel)]="newAmount"
            floating-label
            pattern="[1-9]+[0-9]*"></mdl-textfield>
    <button 
        type="button"
        mdl-button (click)="addYear()"
        mdl-button-type="raised" 
        mdl-ripple mdl-colored="primary"
        [disabled] = "!newAmountOfYearIsValid()" 
        *ngIf = "enableAddYear"
        >Submit</button>
  </div>
  <div class="actions" *ngIf = "!enableAddYear">
    <button 
    type="button"
    mdl-button (click)="deletePurchase(purchase)"
    [disabled]=false
    mdl-ripple mdl-colored="primary">Delete</button>
  </div>
</div>