#add-year-form {
	padding: 16px;
	display: table-caption;
}

.close-btn {
	float: right;
	top: -5px;
}

.openning-list {
	padding: 1em;
}

.two-rows>li:nth-child(even) {
	padding-left: 50%;
	float: right;
}

.two-rows>li:nth-child(odd) {
	float: left;
}

.two-rows-view:nth-child(odd) {
	color: red;
	float: left;
    margin-right: 20%;
}

.two-rows-view:nth-child(even) {
	color: blue;
}