<div class="demo-container" mdl-shadow="2">
<!--    <mdl-layout mdl-layout-mode="waterfall"> -->
   <mdl-layout mdl-layout-fixed-header mdl-layout-header-seamed mdl-layout-mode="waterfall">
      <mdl-layout-header>
         <mdl-layout-header-row>
            <mdl-layout-title>Procurement</mdl-layout-title>
            <mdl-layout-spacer></mdl-layout-spacer>
               <p id="welcome-title" *ngIf="this.user">Welcome {{this.user.name}}</p>
         </mdl-layout-header-row>
         <mdl-layout-header-row>
            <!-- Navigation. We hide it in small screens. -->
            <mdl-layout-spacer></mdl-layout-spacer>
            <nav class="mdl-navigation mdl-layout--large-screen-only">
               <a 
                  class="mdl-navigation__link" 
                  routerLink='/softwares' 
                  routerLinkActive="active" 
               >Softwares</a>
               <a *ngIf="this.user && this.user.permission!='Basic'"
                  class="mdl-navigation__link" 
                  routerLink='/purchases' 
                  routerLinkActive="active" 
               >Purchases</a>
               <a *ngIf="this.user && this.user.permission=='Admin'"
                  class="mdl-navigation__link" 
                  routerLink='/units'     
                  routerLinkActive="active" 
               >Units</a>
               <a *ngIf="this.user && this.user.permission=='Admin'"
                  class="mdl-navigation__link" 
                  routerLink='/users'     
                  routerLinkActive="active" 
               >Users</a>
            </nav>
         </mdl-layout-header-row>
      </mdl-layout-header>
      <mdl-layout-drawer>
         <mdl-layout-title>Procurement</mdl-layout-title>
         <nav class="mdl-navigation">
            <a class="mdl-navigation__link" [routerLink]="['/softwares']">Softwares</a>
            <a class="mdl-navigation__link" [routerLink]="['/purchases']">Purchases</a>
            <a class="mdl-navigation__link" [routerLink]="['/units']">Units</a>
            <a class="mdl-navigation__link" [routerLink]="['/users']">Users</a>
         </nav>
      </mdl-layout-drawer>
      <mdl-layout-content>
        <router-outlet> </router-outlet> 
      </mdl-layout-content>
   </mdl-layout>
</div>