<div class="demo-container" mdl-shadow="2">
   <mdl-layout mdl-layout-fixed-header mdl-layout-header-seamed>
      <mdl-layout-header>
         <mdl-layout-header-row>
            <mdl-layout-title>Title</mdl-layout-title>
            <mdl-layout-spacer></mdl-layout-spacer>
            <!-- Navigation. We hide it in small screens. -->
            <nav class="mdl-navigation mdl-layout--large-screen-only">
               <a 
                  class="mdl-navigation__link" 
                  routerLink='/softwares' 
                  routerLinkActive="active" 
               >Softwares</a>
               <a *ngIf="this.user && this.user.permission!='Basic'"
                  class="mdl-navigation__link" 
                  routerLink='/purchases' 
                  routerLinkActive="active" 
               >Purchases</a>
               <a *ngIf="this.user && this.user.permission=='Admin'"
                  class="mdl-navigation__link" 
                  routerLink='/units'     
                  routerLinkActive="active" 
               >Units</a>
               <p *ngIf="this.user">Welcome {{this.user.name}}</p>
            </nav>
         </mdl-layout-header-row>
      </mdl-layout-header>
      <mdl-layout-drawer>
         <mdl-layout-title>Title</mdl-layout-title>
         <nav class="mdl-navigation">
            <a class="mdl-navigation__link" [routerLink]="['/softwares']">Softwares</a>
            <a class="mdl-navigation__link" [routerLink]="['/purchases']">Purchases</a>
            <a class="mdl-navigation__link" [routerLink]="['/units']">Units</a>
         </nav>
      </mdl-layout-drawer>
      <mdl-layout-content>
         <button (click)="updateUser()">Click Me</button>
        <router-outlet> </router-outlet> 
      </mdl-layout-content>
   </mdl-layout>
</div>